Presentacion/Connected Services/WCFServicio/Servicios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Perfiles" nillable="true" type="tns:Perfiles" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuarios" nillable="true" type="tns:Usuarios" />
  <xs:complexType name="Perfiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_perfil" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfiles" nillable="true" type="tns:Perfiles" />
  <xs:complexType name="ArrayOfUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuarios" nillable="true" type="tns:Usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarios" nillable="true" type="tns:ArrayOfUsuarios" />
  <xs:complexType name="ArrayOfPerfiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Perfiles" nillable="true" type="tns:Perfiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfiles" nillable="true" type="tns:ArrayOfPerfiles" />
</xs:schema>