Presentacion/Connected Services/WCFServicio/Servicios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50957/Servicios.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Usuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Perfiles" nillable="true" type="tns:Perfiles" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuarios" nillable="true" type="tns:Usuarios" />
  <xs:complexType name="Perfiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_perfil" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfiles" nillable="true" type="tns:Perfiles" />
  <xs:complexType name="ArrayOfUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuarios" nillable="true" type="tns:Usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarios" nillable="true" type="tns:ArrayOfUsuarios" />
  <xs:complexType name="Email">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asunto" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Destinatario" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="MensajeCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Email" nillable="true" type="tns:Email" />
  <xs:complexType name="ArrayOfPerfiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Perfiles" nillable="true" type="tns:Perfiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfiles" nillable="true" type="tns:ArrayOfPerfiles" />
  <xs:complexType name="ArrayOfClientesPrestamos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientesPrestamos" nillable="true" type="tns:ClientesPrestamos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientesPrestamos" nillable="true" type="tns:ArrayOfClientesPrestamos" />
  <xs:complexType name="ClientesPrestamos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identificacion" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesPrestamos" nillable="true" type="tns:ClientesPrestamos" />
</xs:schema>